@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,500&family=Caveat&display=swap');

hr{
    margin-top:2rem;
}

:root{
    --primary-color: rgb(247, 204, 14);
    --theme-bg: #21CEEF;
}

body{
    font-family: 'Archivo', sans-serif;
    background-color: var(--theme-bg);
    margin:0px;
    margin-left: 0px;

    
}
/* @container */
.container-fluid{
    padding:0rem 1rem;
}

.container-center{
    max-width:600px;
    margin:auto;
}

/* @link */
.link{
    text-decoration: none;
    
    padding: 0.3rem 1rem;
    border-radius:.5rem;
    color:whitesmoke;
    border:solid;
}

.link-primary{
    background-color:var(--primary-color);    
}

/* @list --&-- @navigation*/

.list{
    list-style:none;
    /* color:whitesmoke; */
}

.list-unordered{
    display:inline;
    list-style-type: none;
    padding: 0rem 0.5rem;
}

.link.l1{
    background-color:yellowgreen;
}


/* @header */

.head{
    max-width:500px;
    margin: auto;
    display:block;
    border-radius: 17rem;
    margin-top: 30px;
    margin-bottom: 50px;
}

/* @section */

.section{
    padding:1rem 0.5rem;
    max-width:600px;
    margin:auto; 
    margin-bottom: 35px;
    border-radius: 1rem; 
    border:solid;
    color:grey;
    border-color:maroon;
    border-width: 4px;
        
}


.white-section{
    background-color: white;
    
}

.blue-section{
    background-color:rgb(56, 56, 138);
    /* color:white; */
}

/* @footer */

.footer{
    text-align: center;
    margin: 1.5rem;
    
}

 .bgf{
    background-color: var(--primary-color);
    padding: .5rem  .5rem;
    
    /* display:block; */
    
} 

h4{
    text-align:center;
    color:green;
}

h2{

}

.br{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.l2{
    border-color: maroon;
}